<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      body 		{ padding-top:80px; }
    </style>
    <script>
      var facebookLoginURL = "https://www.facebook.com/v9.0/dialog/oauth?client_id=1068263940305894&redirect_uri=http://localhost:8080/oauth-redirect"
      function loadVar() {
        location.href = facebookLoginURL
      }
    </script>
  </head>
  <body>
    
    <div class="container">

      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p style="font-size:120%">Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a><br>
        <a 
          onclick="loadVar()"
          class="btn btn-default">
          <span class="fa fa-facebook"></span> Facebook
        </a>
      </div>

    </div>
  </body>
</html>