<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body">
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>userid:</strong> <%= user.userid %><br>
						<strong>email:</strong>: <%= user.localEmail %><br>
					</p>

			</div>
			<!-- FACEBOOK INFORMATION -->
			<div class="well">
				<h3><span class="fa fa-facebook"></span> Facebook</h3>

					<p>
						<strong>fbid</strong>: <%= user.fbid %><br>
						<strong>email</strong>: <%= user.email %><br>
						<strong>name</strong>:  <%= user.username %><br>
						<strong>birthday</strong>: <%= user.birthday %><br>
						<strong>gender</strong>: <%= user.gender %><br>
					</p>

			</div>
			<!-- INSTAGRAM INFORMATION -->
			<div class="well">
				<h3><span class="fa fa-instagram"></span> Instagram</h3>

					<p>
						<strong>insta id</strong>: <%= user.insta_id %><br>
						<strong>insta username</strong>: <%= user.insta_username %><br>
					</p>

			</div>
		</div>



	</div>

</div>
</body>
</html>